<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-memory-alert" version="0.8.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>CordovaPluginMemoryAlert</name>
	<js-module name="CordovaPluginMemoryAlert" src="www/CordovaPluginMemoryAlert.js">
		<clobbers target="cordova.plugins.CordovaPluginMemoryAlert" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="CordovaPluginMemoryAlert">
				<param name="ios-package" value="CordovaPluginMemoryAlert" />
			</feature>
		</config-file>
		<header-file src="src/ios/CordovaPluginMemoryAlert.h" />
		<source-file src="src/ios/CordovaPluginMemoryAlert.m" />
	</platform>
</plugin>